<img class="team-logo" [src]="team.logoUrl" alt="team logo"/>

<div class="team-name" [style.color]="color">{{team.Name}}</div>

<div class="team-details">
  <div>Timeouts left: {{team.Timeouts}} ({{team.TimeoutTime | minuteSeconds}})</div>
  <div class="cards">
    <div *ngFor="let _ of numberReturn(team.RedCards)" class="card red-card"></div>
    <div *ngFor="let _ of numberReturn(team.YellowCards)" class="card yellow-card"></div>
    <!--suppress JSUnusedLocalSymbols -> false positive-->
    <span *ngFor="let time of team.YellowCardTimes">{{time | minuteSeconds}} </span>
  </div>
</div>
