<button mat-icon-button (click)="showDetails=!showDetails" class="team-logo-button">
  <img class="team-logo" src="https://tigers-mannheim.de/res/tigersLogoWithBorderTrans_small.png"
       alt="team logo"/>
</button>

<div class="team-name" [style.color]="color">{{team.Name}}</div>

<div class="team-details" *ngIf="showDetails">
  Timeouts: {{team.Timeouts}}<br/>
  Timeout Time: {{team.TimeoutTime | minuteSeconds}}<br/>
  Red cards: {{team.RedCards}}<br/>
  Yellow cards: {{team.YellowCards}}<br/>
  Yellow card times:
  <span *ngFor="let time of team.YellowCardTimes">{{time | minuteSeconds}} </span>
</div>
