.team-name {
  margin-top: 0.1em;
  font-size: 1.5em;
}

.team-logo {
  max-width: 20vw;
  max-height: 25vh;
}

.team-logo-button {
  width: 100%;
  height: 100%;
}

.card {
  border-radius: 5px;
  padding: 0.5em;
  width: 0.7em;
  height: 1.5em;
  margin: 0.3em;
  display: inline-block;
  font-size: initial;
  /* IE 7 hack */
  *zoom: 1;
  *display: inline;
  vertical-align: middle;
}

.yellow-card {
  background: #e9ea2a;
}

.red-card {
  background: #ea1a18;
}

.timeout {
  background: azure;
}

.team-details {
  font-size: 0.8em;
}

.cards {
  vertical-align: middle;
}
