<div class="referee-container">

  <div class="team-score-container">
    <div class="team-container">
      <app-team [team]="refereeMessage.TeamYellow" [color]="'gold'"></app-team>
    </div>

    <div class="score-container">
    {{refereeMessage.TeamBlue.Goals}} : {{refereeMessage.TeamYellow.Goals}}
    </div>

    <div class="team-container">
      <app-team [team]="refereeMessage.TeamBlue" [color]="'blue'"></app-team>
    </div>
  </div>

  <div class="status-container">
    <div class="stage-container">
      <div class="stage-name">{{refereeMessage.Stage.Name}}</div>
      <div class="stage-time">{{refereeMessage.Stage.TimeLeft | minuteSeconds}}</div>
    </div>

    <div class="game-event-container">
    {{refereeMessage.GameEvent.Type}}
      <div *ngIf="refereeMessage.GameEvent.Originator.Team != null">
        by {{refereeMessage.GameEvent.Originator.Team}}
        <div *ngIf="refereeMessage.GameEvent.Originator.BotId != -1">{{refereeMessage.GameEvent.Originator.BotId}}</div>
      </div>
      <p>
      {{refereeMessage.GameEvent.Message}}
      </p>
    </div>

    <div class="command-container">
    {{refereeMessage.Command.Name}}
    </div>
  </div>
</div>
