.referee-container {
  text-align: center;
  font-size: 4vw;
}

div.team-score-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.team-container {
  width: 40%;
  float: left;
}

div.score-container {
  width: 20%;
  float: left;
}

.stage-container {
  width: 100%;
  display: flex;
  margin-top: 0.5em;
}

.stage-name {
  float: left;
  width: 50%;
  text-align: center;
}

.stage-time {
  float: left;
  width: 50%;
  text-align: center;
}

.game-event-container {
  width: 100%;
  margin-top: 1em;
  text-align: center;
}

.command-container {
  width: 100%;
  margin-top: 1em;
  text-align: center;
}

.status-container {
  width: 100%;
  margin-top: 1em;
}
