<div class="referee-container">

  <div class="team-score-container">
    <div class="team-container">
      <img class="team-logo" src="https://tigers-mannheim.de/res/tigersLogoWithBorderTrans_small.png" alt="team logo"/>
      <div class="team-name team-blue">{{refereeMessage.TeamBlue.Name}}</div>
      <!--
      <div class="team-details">
        Timeouts: {{refereeMessage.TeamBlue.Timeouts}}<br/>
        Timeout Time: {{refereeMessage.TeamBlue.TimeoutTime}}<br/>
        Red cards: {{refereeMessage.TeamBlue.RedCards}}<br/>
        Yellow cards: {{refereeMessage.TeamBlue.YellowCards}}<br/>
        Yellow card times: {{refereeMessage.TeamBlue.YellowCardTimes}}
      </div>
      -->
    </div>

    <div class="score-container">
    {{refereeMessage.TeamBlue.Goals}} : {{refereeMessage.TeamYellow.Goals}}
    </div>

    <div class="team-container">
      <img src="https://tigers-mannheim.de/res/tigersLogoWithBorderTrans_small.png" alt="team logo" class="team-logo"/>
      <div class="team-name team-yellow">{{refereeMessage.TeamYellow.Name}}</div>
      <!--
      <div class="team-details">
        Timeouts: {{refereeMessage.TeamYellow.Timeouts}}<br/>
        Timeout Time: {{refereeMessage.TeamYellow.TimeoutTime}}<br/>
        Red cards: {{refereeMessage.TeamYellow.RedCards}}<br/>
        Yellow cards: {{refereeMessage.TeamYellow.YellowCards}}<br/>
        Yellow card times: {{refereeMessage.TeamYellow.YellowCardTimes}}
      </div>
      -->
    </div>
  </div>

  <div class="stage-container">
    <div class="stage-name">{{refereeMessage.Stage.Name}}</div>
    <div class="stage-time">{{refereeMessage.Stage.TimeLeft}}</div>
  </div>

  <div class="game-event-container">
  {{refereeMessage.GameEvent.Type}}
    by {{refereeMessage.GameEvent.Originator.Team}} {{refereeMessage.GameEvent.Originator.BotId}}
    <br>
  {{refereeMessage.GameEvent.Message}}
  </div>

  <div>
  {{refereeMessage.Command.Name}}
  </div>
</div>
