.referee-container {
  text-align: center;
  font-size: 4vw;
  height: 100%;
  max-height: 100%;
}

div.team-score-container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-container {
  width: 100%;
  height: 50%;
}

div.team-container {
  width: 40%;
  float: left;
}

div.score-container {
  width: 20%;
  float: left;
  font-size: 10vw;
}

.stage-container {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stage-name {
  float: left;
  width: 50%;
}

.stage-time {
  float: left;
  width: 50%;
}

.game-event-container {
  width: 100%;
  height: 60%;
}

.game-event-element {
  width: 100%;
}

.command-container {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
