<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #start mode="over" [fixedInViewport]="fixed" [fixedTopGap]="fixedTop" [fixedBottomGap]="fixedBottom">

    <div class="settings-container">
      <app-settings></app-settings>
      <button mat-button (click)="start.toggle(undefined, 'mouse')">Close</button>
    </div>

  </mat-sidenav>
  <mat-sidenav-content class="main-content">
    <div class="settings-button-container">
      <button mat-icon-button (click)="start.toggle(undefined, 'mouse')">
        <mat-icon>settings</mat-icon>
      </button>
    </div>

    <h1> Small Size League Status Board </h1>

    <app-referee></app-referee>
  </mat-sidenav-content>
</mat-sidenav-container>

