div.sidenav-container {
  border-width: 0;
}

.main-content {
  height: 100vh;
}

.settings-button-container {
  position: absolute;
  top: 0.1em;
  left: 0.1em;
}

mat-sidenav,
mat-sidenav.mat-locked-open,
mat-sidenav.mat-closed.mat-locked-open-add-active {
  min-width: 400px !important;
  width: 30vw !important;
  max-width: 100vw !important;
}

.settings-container {
  display: flex;
  flex-direction: column;
}

.settings-container > * {
  width: 100%;
}

.github {
  text-align: left;
  position: fixed;
  bottom: 0;
  width: 100%;
}

h1 {
  font-size: 4vw;
  margin-top: 0.1em;
  margin-bottom: 0.5em;
}

div.app-header {
  height: 8%;
  max-height: 8%;
}

div.app-body {
  height: 90%;
  max-height: 90%;
}
