@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 100%;
  float: left;
  width: 100%;
}
